
#A2{
   text-align: center;
   font-size: 33px;
   
   
}
.x00{
   background-color:rgb(9, 1, 18) ;
   height: 550px;
   background-image: url(titl.jpg);
   background-size: 50% 50%;
   z-index: -1;
   display :flex ;
   justify-content: space-between;
   padding: 10px 50px;
   align-items: center;
   border-radius: 0 0 50px 50px;
}
.x00 button{
   position: absolute;
   background-color: chocolate;
   left: 180px;
   height: 30px;
      
}
.image00 img{
   background-image: url(titl.jpg);
   width: 500px;
   border-radius: 20px;
   background-size: 10px;
}
.links button{
   background-color: chocolate;
   border-radius: 15px ;
   color: white;
   border: 0;
   padding: 10px 50px;
}
.links button :hover{
   color: rgb(231, 227, 224) ;
}
#A4{
   color: white;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#A5{
   color: white;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#A6{
   color: white;
   font-size: 23px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#A10{
   font-size: 23px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* My page */
#A1{
text-align: right;
color: white;
font-size: 30px;
display: flex;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.search input {
   border-radius: 25px;
   border: none;
   outline: none;
   height: 28px;
   padding-left: 10px;
   padding-right: 10px;
   
}
.search button{
   border-radius: 25px;
   border: none;
   height: 30px;
   height: 30px;
}
.hader{
   
border:0px solid ;
background-image: url(image.png);
background-size: contain;
background-position: top;

}
 .base{
   padding: 0px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color:rgb(9, 2, 17) ;
 }
 .logo{
   width: 100px;
 }
.links a{
color: white;
padding: 10px 50px;
text-decoration: none;
border-radius: 11px;

}
.links a:hover{
   color: rgb(13, 9, 0);
   background-color: rgb(244, 155, 61);
}

/* .trending{
   padding: 10px 50px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.trending button{
   background-color: chocolate;
border-radius: 15px ;
color: white;
border: 0;
padding: 10px 50px;
height: 30px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.trending2025{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.trending2025 h1{
   margin: 0;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card1{
   width: 220px;
   border-radius: 18px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.prog1{
   width: 220px;
   margin: 0px;
   border-radius: 18px 18px 0 0 ;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card1-info{
   display: flex;
   justify-content: space-between;
   background-color: #EEEEEE;
   padding: 5px 25px;
   margin: 0px;
   align-items: center;
   border-radius: 0 0 18px 18px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.shopping-card{
   width: 55px;
   justify-content: space-between;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */
/* .Trending-cards{
display:flex ;
gap: 45px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card2-info{
   display: flex;
   justify-content: space-between;
   background-color: #EEEEEE;
   padding: 13px 25px;
   margin: 0px;
   align-items: center;
   border-radius: 0 0 18px 18px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.prog2{
   width: 238px;
   margin: 0px;
   border-radius: 18px 18px 0 0 ;
   height: 311px;
}
.card2{
   width: 238px;
   border-radius: 18px;
   height: 311px;
   
}

.card3-info{
   display: flex;
   justify-content: space-between;
   background-color: #EEEEEE;
   padding: 13px 25px;
   margin: 0px;
   align-items: center;
   border-radius: 0 0 18px 18px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.prog3{
   width: 244px;
   margin: 0px;
   height: 311px;
   border-radius: 18px 18px 0 0 ;
}
.card3{
   width: 244px;
   border-radius: 18px;
   height: 311px;
}



.card4-info{
   display: flex;
   justify-content: space-between;
   background-color: #EEEEEE;
   padding: 13px 25px;
   margin: 0px;
   align-items: center;
   border-radius: 0 0 18px 18px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.prog4{
   width: 244px;
   margin: 0px;
   height: 311px;
   border-radius: 18px 18px 0 0 ;
}
.card4{
   width: 244px;
   border-radius: 18px;
   height: 311px;
}

.card5-info{
   display: flex;
   justify-content: space-between;
   background-color: #EEEEEE;
   padding: 13px 25px;
   margin: 0px;
   align-items: center;
   border-radius: 0 0 18px 18px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.prog5{
   width: 244px;
   margin: 0px;
   height: 311px;
   border-radius: 18px 18px 0 0 ;
}
.card5{
   width: 244px;
   border-radius: 18px;
   height: 311px;
}

.card6{
   width: 244px;
   border-radius: 18px;
   height: 311px;
}
.card6-info{
   display: flex;
   justify-content: space-between;
   background-color: #EEEEEE;
   padding: 13px 25px;
   margin: 0px;
   align-items: center;
   border-radius: 0 0 18px 18px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.prog6{
   width: 244px;
   margin: 0px;
   height: 311px;
   border-radius: 18px 18px 0 0 ;
}
.card6{
   width: 244px;
   border-radius: 18px;
   height: 311px;
} */
/* how to make the image a hover */

.searchin{
   margin: 20px calc(30%/2) 0;
}

.searchin form{
   position: relative;
   right: -105px;
}

.searchin form input{
   border-radius: 50px;
   border: chocolate 1px solid;
   width: 70%;
   height: 49px;
   font-size: 20px;
   padding: 0 20px;
}
.searchin form button:focus{
   outline: none;
}
.searchin form input:focus{
   /* border: chocolate 2px solid; */
   outline: chocolate 2px solid;

}

.searchin form button{
   border-radius: 50px;
   background-color: chocolate;
   color: white;
   width: 100px;
   height: 52px;
   outline: none;
   position: relative;
   left: -105px;
   font-size: 20px;
}

.books{
   float: left;
   margin: 20px 0%;
   padding: 0;
}
.book{
   /* width: calc(77% / 4); */
   width: 244px;
   margin: 0 34px 30px;
   padding: 0;
}
.img{
   width: 244px;
   margin: 0px;
   height: 311px;
   border-radius: 18px 18px 0 0 ;
}
.info{
   background-color: #EEEEEE;
   padding: 13px 25px;
   margin: 0px;
   border-radius: 0 0 18px 18px;
   width: 195px;
}

.cart{
   width: 55px;
}
.clear{
   clear: both;
}

#notfind{
   text-align: center;
   color: chocolate;
   font-size: 30px;
   margin: 65px 0px 300px;
}
#notfind b{
   font-style: italic;
}

/* .shopping-card img a:hover{
   color: rgb(209, 108, 31) ;

} */

.foot-bage{
   padding: 20px; ;
   border:0px solid ;
   background-position: center;
   border-radius:  18px 18px 18px 18px ;
   background-color: black;
   color:  rgb(244, 155, 61);
   margin: 10px;
}

.view all-button a:hover{
   color: rgb(252, 151, 74) ;
}

body{
   margin: 0%;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}