body{
margin: 0;
padding: 0;
background-color: #d3dbde;
}
.card6{

    margin: 6%;
    position: relative;
    width: 25%;
    background-color: chocolate;
    background-color:rgb(158, 94, 230) ;
    background-color:rgb(158, 94, 230) ;
}